.lets-start{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 500px;
  flex-direction: column;
}

.mainsidebar {
    /* background-color: black; */
    height: 100vh;
    color: white;
    overflow: hidden;
    position: fixed;
    width: 100%;
    display: flex;
  }
  
  .listtext {
    color: #fafafa;
    list-style: none;
  }
  
  .logos {
    margin-left: 0px;
  }
  
  ul {
    margin-left: 20px;
  }
  
  .profileicon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: contain;
  }
  
  .moreicon {
    margin-top: 240px;
    cursor: pointer;
  }
  
  .textinputforpost {
    width: 100%;
    height: 140px;
    background-color: black;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    border: none;
  }
  
  .textinputforpost::placeholder {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: none;
    font-size: 14px;
  }
  
  .createpost {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #0095F6;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .showsearchinput {
    background-color: black;
    border: none;
    width: 80%;
    height: 15px;
    margin-left: 10px;
    outline: none;
    color: white;
  }
  
  .showsearchinput::placeholder {
    color: #A8A8A8;
  }
  